<div class="container">
	<div class="row row-pb-md">
		<div class="col-md-12">
			<h2>Users</h2>
			<% @users.each do |user| %>
				<div class="col-md-4">
					<div class="user-container">
						<div class="user">
							<div>
								<%= link_to user.name,user_path(user.id) %>
							</div>

							<% if user.profile_image_id != nil %>
								<%= image_tag user.profile_image_id.to_s, size:"150x150" %>
							<% else %>
								<%= image_tag　'/images/default.jpg' %>
							<% end %>

							<div>
								<% if user == current_user %>
									<%= link_to "編集", edit_user_registration_path %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<%= paginate @users, class: "paginate" %>
	</div>
</div>