<div class="container">
	<div class="row row-pb-md">
		<div class="col-md-5">
			<div class="show_user">
				<h2><%= @user.name %></h2>
				<% if @user.profile_image_id != nil %>
					<%= image_tag @user.profile_image_id.to_s, size:"250x250" %>
				<% else %>
					<%= image_tag　'/images/default.jpg' %>
				<% end %>
				<div>
					<% if @user == current_user %>
						<%= link_to "編集", edit_user_registration_path %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-md-7 users_follow">
			<% @user ||= current_user %>
			<div class="stats">
				<a href="<%= following_user_path(@user) %>">
					<span class="following_stat">
						<%= @user.followings.count %>
					</span>
				    Following
				</a>
				<a href="<%= followers_user_path(@user) %>">
					<span class="followers_stat">
						<%= @user.followers.count %>
					</span>
				     Followers
				</a>

				<% if current_user != @user %>
					<div class="follow_form">
						<% if user_signed_in? %>
							<% if current_user.following?(@user) %>
								<%= form_for(current_user.following_relationships.find_by(following_id: @user.id), html: {method: :delete }) do |f| %>
									<%= f.submit 'Unfollow', class: "btn btn-large btn-default active follow-btn" %>
								<% end %>
							<% else %>
								<%= form_for(current_user.following_relationships.build(following_id: @user.id)) do |f| %>
									<div><%= f.hidden_field :following_id %></div>
									<%= f.submit 'Follow', class: "btn btn-large btn-primary follow-btn" %>
								<% end %>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="user_message">
				<%= @user.message %>
			</div>
		</div>
	</div>

	<div class="row row-pb-md">
		<div class="col-md-12">
			<h2>Videos</h2>
			<% @user.posts.each do |post| %>
				<div class="col-md-4 video-container">
					<h4><%= link_to post.title, post_path(post.id) %></h4>
					<%= video_tag (post.video), controls: true, style: "width:100%" %><br>
					<div class="video_detail">
						<div class="profile">
							<div class="profile_image">
								<% if post.user.profile_image_id != nil %>
									<%= image_tag post.user.profile_image_id.to_s, size:"35x35" %>
								<% else %>
									<%= image_tag　'/images/default.jpg' %>
								<% end %>
								<%= link_to post.user.name, user_path(post.user_id) %>
								<span class="created_time">
									<%= post.created_at.strftime("%Y/%m/%d") %>
								</span>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<%= paginate @posts, class: "paginate" %>
</div>
