<div class="container">
	<div class="row">
		<h2>The Newest Video</h2>
		<div class="main-visual">
			<div class="col-md-12">
				<div class="video-wrapper">
					<div class="main-video">
						<%= video_tag (@post.video), controls: true, style: "width:100%;height:480px" %><br>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- videos -->
	<div class="row row-pb-md">
		<div class="col-md-12">
			<h2>Videos</h2>
			<% @posts.last(6).each do |post| %>
				<div class="col-md-4 video-container">
					<div>
						<%= link_to post.title, post_path(post.id), class: "title_hover" %>
					</div>
					<%= video_tag (post.video), controls: true, style: "width:100%;height:200px" %><br>
					<div class="video_detail">
						<div class="profile_image">
							<% if post.user.profile_image_id != nil %>
								<%= image_tag post.user.profile_image_id.to_s, size:"35x35" %>
							<% else %>
								<%= image_tag　'/images/default.jpg' %>
							<% end %>
							<%= link_to post.user.name, user_path(post.user_id) %>
							<span class="created_time">
							<%= post.created_at.strftime("%Y/%m/%d") %>
							</span>
						</div>
					</div>
				</div>
			<% end %>
			<div class="row pull-right">
				<%= link_to "View more", posts_path %>
			</div>
		</div>
	</div>
<!-- users -->
	<div class="row row-pb-md">
		<div class="col-md-12">
			<h2>Users</h2>
			<% @users.first(6).each do |user| %>
				<div class="col-md-4">
					<div class="user-container">
						<div class="user">
							<div>
								<%= link_to user.name,user_path(user.id) %>
							</div>
							<% if user.profile_image_id != nil %>
								<%= image_tag user.profile_image_id.to_s, size:"150x150" %>
							<% else %>
								<%= image_tag　'/images/default.jpg' %>
							<% end %>
							<div>
								<%= user.message %>
							</div>
							<% if user == current_user %>
								<%= link_to "編集", edit_user_registration_path %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
			<div class="row pull-right">
				<%= link_to "View more", users_path %>
			</div>
		</div>
	</div>
	<% if user_signed_in? %>
	<div class="row row-pb-md">
		<div class="col-md-12">
			<h2>Tags</h2>
			<div class="post_tags">
				<% @tags.each do |tag| %>
					<%= link_to tag, tag_search_path(tag.name), class: "label label-primary" %>
				<% end %>
			</div>
		</div>
	</div>
	<% else %>
		<div class="jumbotron">
			<!-- sign up form -->
			<div class="row row-pb-md">
				<div class="col-md-12">
			<!--  sign up form-->
					<div class="border-form">
					    <h2>Sign up</h2>

					    <div class="sign_up_form">
					        <%= form_for(:user, as: resource_name, url: registration_path(resource_name)) do |f| %>
					         	<%= devise_error_messages! %>

					          	<div class="field">
					            	<%= f.text_field :name, autofocus: true, placeholder: "Name" %>
					          	</div>


					          	<div class="field">
					            	<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address" %>
					          	</div>

					          	<div class="field">
					            	<% if @minimum_password_length %>
					            		<em>(<%= @minimum_password_length %> characters minimum)</em>
					            	<% end %><br />
					            	<%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
					          	</div>

					          	<div class="field">
					            	<%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
					          	</div>

					          	<div class="field">
					            	<%= f.label :profile_image %>
					            	<%= f.file_field :profile_image_id %>
					          	</div>

					          	<div class="actions">
					            	<%= f.submit "Sign up" %>
					          	</div>
					        <% end %>
					        <div>
					        	<%= link_to "Log in", new_user_session_path %>
					        </div>
					        <div>
					        	<%= link_to "Forgot your password?", new_user_password_path%>
					    	</div>
						</div>
					</div>
				</div>
			</div>
	<% end %>
</div>
</div>