<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h2 class="show_post_title"><%= @post.title %></h2>
		</div>
	</div>
	<div class="row video_box">
		<div class="col-md-12">
			<div class="col-md-10">
				<div class="show_video">
					<%= video_tag (@post.video), controls: true, style: "width:100%", autoplay: true %>
					<% if @post.favorited_by?(current_user) %>
						<div>
							<%= link_to post_likes_path(@post), method: :delete do %>
								<i class="fas fa-heart like"></i>
								<%= @post.likes.count %>いいね
							<% end %>
						</div>
					<% else %>
						<div>
							<%= link_to post_likes_path(@post), method: :post do %>
								<i class="fas fa-heart unlike"></i>
								<%= @post.likes.count %>いいね
							<% end %>

							<div class="pull-right">
								<% if @post.user_id == current_user.id %>
									<%= link_to "delete", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
									<%= link_to "編集", edit_post_path(@post.id) %>
									<span class="created_time">
										<%= @post.created_at.strftime("%Y/%m/%d") %>
									</span>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<div class="col-md-2 show_post_detail">
				<div class="user_profile_image">
					<%= image_tag @post.user.profile_image_id.to_s, class: "posts_show_image" %>
					<%= link_to @post.user.name, user_path(@post.user_id), class: "posts_show_name" %>
				</div>
				<!-- <h2 class="user_name">
					<%= @post.user.name %>
				</h2> -->
				<div class="video_content">
					<%= @post.content %>
				</div>
				<div class="post_tags">
					<% @post.tag_list.each do |tag| %>
					<!--'#' + tag-->
						<%= link_to tag, tag_search_path(tag), class: "label label-primary" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 comment_form">
			<% @post_comment.errors.full_messages.each do |message| %>
				<%= message %>
			<% end %>
			<%= form_for [@post, @post_comment] do |f| %>
				<%= f.text_area :comment,  placeholder: "コメントを入力してください", class: "text_comment", style: "width:77%;height:50px"%>
				<%= f.submit "送信", class: "btn btn-lg" %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h2>Comments</h2>
			<div class="comments_box">
				<ol>
					<% @post.post_comments.each do |post_comment| %>
						<span class="comment">
							<div class="balloon5">
  								<div class="comment-text">
									<%= image_tag @user.profile_image_id.to_s, size:"50x50" %>
									<div class="balloon1-left">
										<%= post_comment.comment %>
									</div>
									<% if post_comment.user == current_user %>
										<%= link_to "delete", post_post_comment_path(@post.id, post_comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
									<% end %>
								</div>
								<p class="comment_user_name">
									<%= post_comment.user.name %>
								</p>
							</div>
						</span>
					<% end %>
				</ol>
			</div>
		</div>
	</div>
</div>
