<!DOCTYPE html>
<html>
  <head>
    <title>Blue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-fixed-top">
        <nav class="nav nav-bar-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- logo img -->
              <a href="" class="navbar-brand">
                <%= link_to(image_tag('blue2.png', :size =>"105x105"), root_path) %>
              </a>

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
              <!-- toggle -->
                <span class="sr-only">メニュー</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- menu -->
            <div id="top-nav" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <!-- main navbar -->
                  <li>
                    <%= link_to "My Page", user_path(current_user.id) %>
                  </li>
                  <li>
                    <%= link_to "Videos", posts_path %>
                  </li>
                  <li>
                    <%= link_to "Users", users_path %>
                  </li>
                  <li>
                    <%= link_to "New", new_post_path, class: "new-show" %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      Log out   <i class="far fa-times-circle"></i>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "Log in", new_user_session_path, class: "btn btn-link btn-lg", id: "login-show" %>
                  </li>
                  <li>
                    <%= link_to "Sign up",new_user_registration_path, class: "btn btn-ghost btn-lg" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
        <% if user_signed_in? %>
            <!--  検索フォーム  -->
              <div class="search pull-right">
                <%= form_tag(search_path, :method => "get", class:"search-container") do %>
                  <%= text_field_tag :search, "", id:"search-box", class:"search-box" %>
                    <label for="search-box"><i class="fa fa-search glyphicon glyphicon-search search-icon"></i></label>
                <li class="submit-li">
                  <%= submit_tag "Search", :name => nil, id:"search-submit" %>
                  <% end %>
                </li>
              </div>
        <% end %>
      </nav>

    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h2-footer">Contact us</h2>
              <div class="contact_link">
                <%= link_to inquiry_path do %>
                  <i class="fas fa-envelope"></i>お問い合わせ
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
